*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
    padding-top: 2rem;
}

.caja{
    /*border: 1px solid black;*/
    height: 150px;
    width: 90%;
    border-radius: 10px;
}

.container .caja:first-child{
    background-color: red;
}
.caja:nth-child(2){
    background-color: fuchsia
}
.caja:nth-child(3){
    background-color: yellow;
}
.caja:nth-child(4){
    background-color: green;
}
.caja:last-child{
    background-color: aqua;
}

@media (min-width:600px){
    .caja:nth-child(2),
    .caja:nth-child(3) {
        width:calc((90% / 2) - 10px);
    }

    .caja:nth-child(4) {
        height: 50vh;
    }
}
